*, *::before, *::after{
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100vw; 
  height: 100vh;
  background-image: url(https://e0.pxfuel.com/wallpapers/74/40/desktop-wallpaper-a-cultural-evolution-of-shrek-from-blockbuster-hit-to-historic-meme-aesthetic-shrek.jpg);
}

button {
background-color: #E1DFB6;
color: #5C452D;
border-radius: 5px;
box-shadow: 0 0 10px 2px;
}

h1{
  font-family: 'Chicle', sans-serif;
  margin:auto;
  display: flex;
  justify-content: center; 
  align-items: center;
  color: #5C452D;
}

#start-button {
  background-color: #E1DFB6;
  padding: 10px;
  display: block;
  margin:auto;
  margin-top: 85px;
  width: 25%;
  font-family: 'Chicle', sans-serif;
  font-size: 35px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}
#start-button:hover{
  background-color:#5C452D;
  color: #C5EE7D; 

}
#text {
  Display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px;
  display: block;
  margin: auto;
  font-family: 'Chicle', sans-serif; 
  font-size: 20px;
  color: #5C452D;
}

#reset{
  display: flex;
  flex-direction: column-reverse;
  font-size: 25px;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: absolute;
  bottom: 100px; 
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  color: #5C452D;
  font-family: 'Chicle', sans-serif; 
  
}

#reset:hover{
  background-color:#5C452D;
  color: #C5EE7D; 

}

.container {
  width: 48%;
  height: 60%;
  background: linear-gradient(to right, #C5EE7D, #7A9244);
  padding: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  max-width: 800px;
  min-width: 700px;
}
.btn {
  Display: flex;
  justify-content: center; 
  align-items: center;
  padding: 15px;
  display: inline-block;
  margin: auto;
  margin-bottom: 10px;
  font-family: 'Chicle', sans-serif; 
  font-size: 21px;
  color: #5C452D;
  margin-left: 20px;
}

