*, *::before, *::after{
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100vw; 
  height: 100vh;
  background-image: url(https://e0.pxfuel.com/wallpapers/74/40/desktop-wallpaper-a-cultural-evolution-of-shrek-from-blockbuster-hit-to-historic-meme-aesthetic-shrek.jpg);
}

button {
background-color: #E1DFB6;
}

#start-button {
  background-color: #E1DFB6;
  padding: 15px;
  display: block;
  margin: auto;
  margin-top: 85px;
  width: 45%;
}

.container {
  width: 50%;
  height: 60%;
  background: linear-gradient(to right, #C5EE7D, #7A9244);
  padding: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  max-width: 800px;
  min-width: 700px;
}
.btn {
  display: inline-block;
  margin: 10px;
  padding: 15px;
}